/LevelBuilder/bin
/LevelBuilder/obj
/MapTiler/obj
/MapTiler/bin
/GameObjects/bin
/GameObjects/obj
/LevelDesigner/bin
/LevelDesigner/obj
*.suo
/MapTileBuilder/obj
/MapTileBuilder/bin
/BaseMvvm/bin
/BaseMvvm/obj