<?xml version="1.0"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">

        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.diagnostics>
        <switches>                
            <add name="SourceSwitch" value="All" />
        </switches>
        <sharedListeners>
            <add name="textListener"
                type="System.Diagnostics.TextWriterTraceListener"
                initializeData="DebugTrace.txt"
            />
        </sharedListeners>
        <trace autoflush="true" indentsize="4"></trace>
    </system.diagnostics>
</configuration>